.heading {
    display: flex;
    justify-content: center;
    color: blue;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    color: blue;
}


.displayResults {
    display: flex;
    justify-content: space-around;
}

.score{
    width: 100px;
    height: 100px;

}

.overallScore{
    width: 100px;
    height: 100px;
}
